diff --git a/docs/games/playgames/continuity-requirements.md b/docs/games/playgames/continuity-requirements.md
index 37e97ae..71b1022 100644
--- a/docs/games/playgames/continuity-requirements.md
+++ b/docs/games/playgames/continuity-requirements.md
@@ -15,6 +15,7 @@ Send feedback
 
 
 
+
 In order to provide the best experience to players for Google Play Games on PC,
 [we require that your Google Play Games on PC and mobile (Android) versions of
 your game](/games/playgames/identity) provide a seamless cross-device
@@ -54,4 +55,6 @@ Here’s a checklist of our required and encouraged behaviors related to Google
 
 
 
+
+
 Send feedback
\ No newline at end of file
