---
title: https://developer.android.com/developer-verification
url: https://developer.android.com/developer-verification
source: md.txt
---

## Elevating Android security to keep it open and safe


By making Android safer, we're protecting the open environment that allows developers and
users to confidently create and connect. Android's new developer verification is an extra
layer of security that deters bad actors and makes it harder for them to repeatedly spread
harm. Starting in September 2026, apps in select regions must be registered by a verified
developer to be installed on [certified Android devices](https://www.android.com/certified/partners/).
![](http://developer.android.com/static/images/developer-verification/developer-identity-hero.png) ![](http://developer.android.com/static/images/picto-icons/asterisk.svg)

## To get verified, you'll need to complete two main steps

![](http://developer.android.com/static/images/cluster-illustrations/video-chat-2.svg) Step 1

### Verify your identity

- You will need to provide and verify your personal details, like your legal name, address, email address, and phone number.
- If you're registering as an organization, you'll also need to provide a D-U-N-S number and verify your organization's website.
- You may also need to upload official government ID.
![](http://developer.android.com/static/images/cluster-illustrations/policy.svg) Step 2

### Register your package names

- Prove ownership of your apps by providing the APK signed with your private key to connect the APK with your developer account.

## What type of distribution do I need?

![](https://developer.android.com/static/images/picto-icons/chevron-complex.svg)

### Full distribution

Best for organizations and professional developers with wide distribution. This account offers unlimited apps and installs. If you publish apps only outside of Google Play, create an [Android Developer Console](https://developer.android.com/developer-verification/guides/android-developer-console) account to verify your identity and register package names. ![](https://developer.android.com/static/images/picto-icons/chevron-simple.svg)

### Limited distribution

We're committed to keeping Android an open platform for you to learn, experiment, and build for fun. If you are a developer who doesn't distribute apps widely, we recognize that your needs may be different from commercial developers and have provided this free account for you. To maintain ecosystem security, apps can be installed on up to 20 devices that end-users have explicitly authorized.  
To maintain ecosystem security, apps can be installed on up to 20 devices that end-users have explicitly authorized. [Learn more](https://developer.android.com/developer-verification/guides/limited-distribution) and [sign up for early access](https://google.qualtrics.com/jfe/form/SV_4N7NGE06NjJJdl4). ![](http://developer.android.com/static/images/picto-icons/play.svg)

## For Google Play developers

If you distribute apps through Google Play, you've likely already completed these steps. Play will use the information you've already shared to automatically register your apps. If you distribute apps outside of Google Play, you can manually register them through the Play Console. [Learn more](http://developer.android.com/developer-verification/guides/google-play-console)

> [!NOTE]
> We'll share more information in the coming months.

![](http://developer.android.com/static/images/picto-icons/help.svg)

## Get ready

We're providing as much guidance as possible to help you prepare. Guide

### [Read the Android developer verification guide](http://developer.android.com/developer-verification/guides)

to understand the basics of identity verification [Learn more](http://developer.android.com/developer-verification/guides) Interest form

### [For students and hobbyists](http://developer.android.com/developer-verification/guides/limited-distribution)

Sign up for early access to experiment with free, limited distribution accounts. [Learn more](http://developer.android.com/developer-verification/guides/limited-distribution) Advanced flow

### [For developers who don't want to verify](https://android-developers.googleblog.com/2026/03/android-developer-verification.html)

Preview the advanced flow to see how we'll serve power users who want the ability to download unverified apps. [Learn more](https://android-developers.googleblog.com/2026/03/android-developer-verification.html) Contact us

### [Get support and submit feedback](https://docs.google.com/forms/d/e/1FAIpQLSeN8qv6GRTztqsXy6P8P2_Q93BOIIkT2X7sOQKesQD_LCvnKw/viewform)

for Android developer verification. [Learn more](https://docs.google.com/forms/d/e/1FAIpQLSeN8qv6GRTztqsXy6P8P2_Q93BOIIkT2X7sOQKesQD_LCvnKw/viewform)

## Timeline

We're announcing the changes early and proactively getting developer feedback to ensure our solutions are balanced.

| Date | Update |
|---|---|
| Aug 2025 | [Announced](https://android-developers.googleblog.com/2025/08/elevating-android-security.html) new developer verification requirements. |
| Nov 2025 | Early access began for both Android Developer Console and Play Console. |
| Mar 2026 | Verification opens for all developers. |
| Jun 2026 | Early access starts for limited distribution accounts. |
| Aug 2026 | [Limited distribution account](https://developer.android.com/developer-verification/guides/limited-distribution) launches globally. [Advanced flow](https://android-developers.googleblog.com/2026/03/android-developer-verification.html) for users launches globally. |
| Sep 2026 | The verification requirement goes into effect in Brazil, Indonesia, Singapore, and Thailand. At this point, any app installed on a certified device in these regions must be registered by a verified developer. |
| 2027 and beyond | We will continue to roll out this requirement globally. |

## Latest News

[![](http://developer.android.com/static/images/developer-verification/v3-opt-b.png)](https://android-developers.googleblog.com/2026/03/android-developer-verification.html) Blog

### [Balancing openness and choice with safety](https://android-developers.googleblog.com/2026/03/android-developer-verification.html)

our advanced flow to ensure power users can sideload apps from unverified developers. [![](http://developer.android.com/static/images/developer-verification/sideloading-thumbnail2.png)](https://www.youtube.com/shorts/WcPElxbOeXY) YouTube

### [Preview how users can sideload your apps](https://www.youtube.com/shorts/WcPElxbOeXY)

Watch a quick explainer on how the new advanced flow works. [![](http://developer.android.com/static/images/developer-verification/A7DEhW-mjdc-SD.jpg)](https://www.youtube.com/watch?v=A7DEhW-mjdc) YouTube

### [Android developer verification](https://www.youtube.com/watch?v=A7DEhW-mjdc)

To protect users from malware and scams, Android has launched Android developer verification, a program that verifies developers identities.