---
title: https://developer.android.com/developer-verification
url: https://developer.android.com/developer-verification
source: md.txt
---

# Android developer verification

## Elevating Android's security to keep it open and safe

By making Android safer, we're protecting the open environment that allows developers and users to confidently create and connect. Android's new developer verification is an extra layer of security that deters bad actors and makes it harder for them to spread harm.

Starting in September 2026, Android will require all apps to be registered by verified developers in order to be installed on[certified Android devices](https://www.android.com/certified/partners/).  
![](http://developer.android.com/static/images/developer-verification/developer-identity-hero.png)![](http://developer.android.com/static/images/picto-icons/newsletter.svg)  

## Sign up for early access

We encourage all developers who distribute apps on certified Android devices to sign up for early access. This is the best way to get ready and stay updated.  
The experience will be available in a new Android Developer Console (for developers who only publish outside of Play) and Play Console (for developers who publish both on and off of Play).

### Early participants will also get:

  - ![](http://developer.android.com/static/images/developer-verification/list-tick.svg)  
  An invitation to an exclusive community discussion forum.
  - ![](http://developer.android.com/static/images/developer-verification/list-tick.svg)  
  Priority support for these new requirements.
  - ![](http://developer.android.com/static/images/developer-verification/list-tick.svg)  
  The chance to provide feedback and help us shape the experience.
[Sign up for early access](https://goo.gle/android-verification-early-access)![](http://developer.android.com/static/images/picto-icons/asterisk.svg)  

## To get verified, you'll need to complete two main steps

![](http://developer.android.com/static/images/cluster-illustrations/video-chat-2.svg)  
Step 1

### Verify your identity

- You will need to provide and verify your personal details, like your legal name, address, email address, and phone number.
- If you're registering as an organization, you'll also need to provide a D-U-N-S number and verify your organization's website.
- You may also need to upload official government ID.
![](http://developer.android.com/static/images/cluster-illustrations/policy.svg)  
Step 2

### Register your apps

- You'll need to prove you own your apps by providing your app package name and app signing keys.
![](http://developer.android.com/static/images/logos/google-play.svg)  

### For developers who use Google Play

You've likely already completed these steps. Play will use the information you've already shared to automatically register your apps, making the process seamless. If you distribute apps outside of Google Play, you can manually register them through the Play Console. Learn more with a[preview](https://support.google.com/googleplay/android-developer/answer/16471116)of the experience.  
![](http://developer.android.com/static/images/picto-icons/happy-developers.svg)  

### For student and hobbyist developers

We're committed to keeping Android an open platform for you to learn, experiment, and build for fun. We recognize that your needs are different from commercial developers, so we're working on a separate type of Android Developer Console account for you.
| We'll share more information in the coming months.
![](http://developer.android.com/static/images/picto-icons/help.svg)  

## Get ready

We're providing as much advance notice and guidance as possible to help you prepare.  
Guide

### [Review the Android developer verification guide](http://developer.android.com/developer-verification/guides)

[Learn more](http://developer.android.com/developer-verification/guides)  
Preview

### [See an early look at the new Android Developer Console](https://support.google.com/android-developer-console/answer/16450960)

[Take a look](https://support.google.com/android-developer-console/answer/16450960)  
Preview

### [See an early look at the upcoming experience in Play Console](https://support.google.com/googleplay/android-developer/answer/16471116)

[Take a look](https://support.google.com/googleplay/android-developer/answer/16471116)  
Feedback

### [Do you have any additional questions or feedback?](https://goo.gle/Android-verification-feedback)

[Share your feedback](https://goo.gle/Android-verification-feedback)

## Timeline

|      Date       |                                                                                               Update                                                                                                |
|-----------------|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| Aug 2025        | [Announced](https://android-developers.googleblog.com/2025/08/elevating-android-security.html)new developer verification requirements.                                                              |
| Nov 2025        | Early access begins, and invitations will be sent out gradually to the experience in both Android Developer Console and Play Console.                                                               |
| Mar 2026        | Verification opens for all developers.                                                                                                                                                              |
| Sep 2026        | The requirement goes into effect in Brazil, Indonesia, Singapore, and Thailand. At this point, any app installed on a certified device in these regions must be registered by a verified developer. |
| 2027 and beyond | We will continue to roll out this requirement globally.                                                                                                                                             |

## Latest News

[![](http://developer.android.com/static/images/developer-verification/v3-opt-b.png)](https://android-developers.googleblog.com/2025/11/android-developer-verification-early.html)  
Blog

### [Early access starts now as we continue to build with your feedback](https://android-developers.googleblog.com/2025/11/android-developer-verification-early.html)

Your feedback has been incredibly helpful in shaping key experiences. Based on what we've heard and from conversations with users and developers, we're designing a dedicated account type for developers distributing to small audiences and an advanced flow for experienced users to install unverified apps.  
[![](http://developer.android.com/static/images/developer-verification/A7DEhW-mjdc-SD.jpg)](https://www.youtube.com/watch?v=A7DEhW-mjdc)  
YouTube

### [Android developer verification](https://www.youtube.com/watch?v=A7DEhW-mjdc)

To protect users from malware and scams, Android has launched Android developer verification, a program that verifies developers identities.  
[![](http://developer.android.com/static/images/developer-verification/[25]-Android-ADI-and-Android-Studio-Blog.png)](https://android-developers.googleblog.com/2025/09/lets-talk-security-answering-your-top.html)  
Blog

### [Let's talk security: Answering your top questions about Android developer verification](https://android-developers.googleblog.com/2025/09/lets-talk-security-answering-your-top.html)

Android recently announced developer verification, an extra layer of security that deters bad actors and makes it harder for them to spread harm.